@charset "utf-8";
/* CSS Document */
body{
    background-color: #ededed
}
#myCarousel{
    position: absolute;
    top: 308px;
    left: 264px;
    height: 470px;
    width:380px;
}
#logo {
	position:fixed;
	left: 201px;
	z-index: 3;
	height: 100px;
	width: auto;
}
.picture{
    height:20%;
        
}
.nexus-frame {
	position:fixed;
	height: 700px;
	width:auto;
	top:201px;
	left:248px;
	z-index:1;
	}
#header {
	padding:9px;
	
}
h1 {
    position: absolute;
    color: #6f6f6f;
    font: 400 50px / 81.831px Roboto;
    left: 695px;
    top:230px
}
.text{
    position: absolute;
    color: #6f6f6f;
    font: 400 24px / 29.83px Roboto;
    left: 695px;
    top: 340px;
    
}


